<p><%= comment.user.username %> commented on <%= localize(comment.created_at, :format => :comment_default) %>
<% if policy(comment).destroy? %>
  (<%= link_to "Delete comment", [comment.post, comment], method: :delete %>)
<% end %></p>
<blockquote><%= comment.body %></blockquote>
