<p style="margin-top: 10px;">Add your thoughts/comments:</p>
  <%= simple_form_for [post, comment], remote: true do |f| %>
    <%= f.input :body, as: :text, input_html: { rows: 5 }, placeholder: "What do you think?", label: false %>
    <p style="font-style: italic; margin-top: 10px;">Preview:</p>
    <div style="border: 1px solid #ddd; border-radius: 3px; margin-bottom: 10px; padding: 10px;">
      <p id="live-preview" data-preview-url="<%= preview_path %>"></p>
    </div>
    <%= f.submit :Post, class: 'btn btn-success btn-sm' %>
  <% end %>
