<% if current_user.voted_up_on? comment %>
  <span id="comments-downvote"><%= link_to '<i class="fa fa-thumbs-o-down"></i>&nbsp;Downvote'.html_safe, unlike_post_comment_path(@post, comment), method: :put, class: 'btn btn-default btn-xs', remote: true %></span>
<% else %>
  <span id="comments-upvote"><%= link_to '<i class="fa fa-thumbs-o-up"></i>&nbsp;Upvote'.html_safe, like_post_path(@post, comment), method: :put, class: 'btn btn-default btn-xs', remote: true %></span>
<% end %>
