/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* BOOTSTRAP IMPORT
 -------------------------*/

@import "bootstrap-sprockets";
@import "bootstrap";

/* GENERAL
-------------------------*/

html, body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #27a0d5;
}

a:hover {
  color: #27a0d5;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

a:focus {
  color: #27a0d5;
  text-decoration: none;
}

/* NAVIGATION
-------------------------*/

.navbar {
  background: #333;
  border-bottom: none;
}

.navbar-default .container {
  border-bottom: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #27a0d5;
  font-size: 26px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li a {
  color: #fff;
  padding-top: 16px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav >li > a:hover {
  color: #27a0d5;
  background: transparent;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #333;
  color: #fff;
}

.navbar-default .dropdown-menu > li a {
  background-color: #fff;
  color: #333;
}

.navbar-default .dropdown-menu > li a:hover {
  background-color: #fff;
  color: #27a0d5;
}

/* FOOTER
-------------------------*/

.footer {
  background-color: #333;
  bottom: 0;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.footer .col-md-3 {
  padding-bottom: 10px;
}

.footer p {
  color: #888;
}
