/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* BOOTSTRAP IMPORT */

@import "bootstrap-sprockets";
@import "bootstrap";


/* TABLE OF CONTENTS
1. General
2. Bootstrap Components
3. Navigation
4. Views
5. Footer
-------------------------------------*/

/* future class items - not displayed */
.future {
  display: none;
}

/* 1. General
-------------------------------------*/

/* Body/HTML */
body, html {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  background: #fff;
  border: none;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 20px;
  padding-top: 55px;
  margin-top: 0;
  width: 100%;
}

.container {
  background: #fff;
  min-height:0px !important;
  margin: 0 auto;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

#first {
  border: none;
}

#first h3 {
  font-size: 26px;
  font-weight: 700;
}

/* ckeditor/simple_form */
#cke_post_body {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
}

.cke_chrome {
  box-shadow: none !important;
}

.cke_top, .cke_bottom {
  background: #fff !important;
  background-image: none !important;
}

label {
  font-weight: 700;
}

/* Links */
a {
  color: #3591d5;
}

a:hover {
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

a:active, a:focus {
  color: #3591d5;
  text-decoration: none;
}

/* Media Queries */

/* to address pull-right class on mobile devices */
@media (max-width: 1200px) {
  .row .col-md-6 > .pull-right {
    float: none !important;
  }
}

@media screen and (min-width: 768px) {
  .container-fluid .jumbotron {
      padding-left: 120px;
      padding-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
      padding-top: 30px;
  }
}

/* Messages */
.alert {
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 0;
  text-align: center;
}

.alert-danger, .alert-error, .alert-alert {
  background: #e74c3c;
}

.alert-success, .alert-notice {
  background: #27ae60;
}

.flash {
  margin-bottom: 0;
}

/* 2. Bootstrap Components
-------------------------------------*/

/* Buttons */

.btn-default {
  background-color: transparent;
  color: #444;
  border: 1px solid #444;
}

.btn-default:hover {
  background-color: transparent;
  color: #3591d5;
  border: 1px solid #3591d5;
}

.btn-success {
  background: #27ae60;
  border: 1px solid #239e57;
}

.btn-success:hover {
  background: #239e57;
}

.btn-danger {
  background: #e74c3c;
  border: 1px solid #d62c1a;
}

.btn-danger:hover {
  background: #d62c1a;
}

.btn-info {
  background: #3591d5;
  border: 1px solid #2576b2;
}

.btn-info:hover {
  background: #2576b2;
}

.form-control, .panel {
  border-radius: 3px;
  box-shadow: none;
}

/* 3. NAVIGATION
-------------------------------------------------- */

.navbar {
  background: #fbfbfb;
  border: none;
  border-radius: 0;
  opacity: .9;
}

.navbar .container {
  background: #fbfbfb;
  border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active {
  color: #3591d5 !important;
  font-size: 28px;
  font-weight: 700;
}

.navbar-default .navbar-nav > li a, .navbar-default .navbar-nav > li a:active, .navbar-default .navbar-nav > li a:focus {
  color: #444;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  background: transparent;
  color: #3591d5;
}

.navbar-nav {
  padding-top: 5px;
}

  /* hamburger */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #444;
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: inherit;
}

/* 4. VIEWS
-------------------------------------------------- */

/* Confirmations - New */
#page-confirmations-new {
  background: #f1f1f1;
  margin-bottom: 50px;
}

#page-confirmations-new .btn {
  margin-bottom: 20px;
}

#page-confirmations-new .container {
  background: #f1f1f1;
}

#page-confirmations-new #page-confirmations-new-first {
  margin-bottom: 40px;
}

#page-confirmations-new h3 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

#page-confirmations-new .navbar, #page-confirmations-new footer {
  display: none;
}

#page-confirmations-new .panel-default {
  max-width: 480px;
  padding: 10px 60px 30px;
}

/* Passwords - New */
#page-passwords-new {
  background: #f1f1f1;
  margin-bottom: 50px;
}

#page-passwords-new .btn {
  margin-bottom: 20px;
}

#page-passwords-new .container {
  background: #f1f1f1;
}

#page-passwords-new #page-passwords-new-first {
  margin-bottom: 40px;
}

#page-passwords-new h3 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

#page-passwords-new .navbar, #page-passwords-new footer {
  display: none;
}

#page-passwords-new .panel-default {
  max-width: 480px;
  padding: 10px 60px 30px;
}

/* Posts - Edit */


/* Posts - Index */
#page-posts-index .panel-default {
  background: #fff;
  border: none;
  font-weight: 400;
  margin-bottom: 0;
}

#page-posts-index .panel-heading {
  background: #fbfbfb;
  border: none;
  font-weight: 400;
}

/* 4.3 Posts - New */

/* Posts - Show */
#page-posts-show blockquote {
  font-size: 14px;
  margin-bottom: 5px;
}

#page-posts-show input[type="file"] {
  display: flex;
}

#page-posts-show .btn-default {
  margin-top: 5px;
}

#page-posts-show .col-md-12 .comments {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  padding-top: 25px;
}

#page-posts-show .col-md-12 #page-posts-show-info {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#page-posts-show .col-md-12 #page-posts-show-body {
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 25px 20px;
}

#page-posts-show .col-md-12 #page-posts-show-documents {
  padding-top: 15px;
}

#page-posts-show #page-posts-show-documents .col-md-4 {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

#page-posts-show .form-group {
  margin-bottom: 5px;
}

/* Registrations - Edit */
#page-registrations-edit .btn {
  margin-bottom: 20px;
}

/* Registrations - New */
#page-registrations-new {
  background: #f1f1f1;
  margin-bottom: 50px;
}

#page-registrations-new .btn {
  margin-bottom: 20px;
}

#page-registrations-new .container {
  background: #f1f1f1;
}

#page-registrations-new #page-registrations-new-first {
  margin-bottom: 40px;
}

#page-registrations-new h3 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

#page-registrations-new .navbar, #page-registrations-new footer {
  display: none;
}

#page-registrations-new .panel-default {
  max-width: 480px;
  padding: 10px 60px 30px;
}

/* Sessions - New */
#page-sessions-new {
  background: #f1f1f1;
  margin-bottom: 50px;
}

#page-sessions-new .btn {
  margin-bottom: 20px;
}

#page-sessions-new .container {
  background: #f1f1f1;
}

#page-sessions-new h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

#page-sessions-new .navbar, #page-sessions-new footer {
  display: none;
}

#page-sessions-new .panel-default {
  max-width: 480px;
  padding: 10px 60px 30px;
}

/* Users - Show */


/* Welcome - Index */

#page-welcome-index .container-fluid {
  background: #3591d5;
  border-radius: 0;
  color: #fff;
  margin-top: 0;
}

#page-welcome-index .jumbotron.text-center {
  background: #3591d5;
}

#page-welcome-index .jumbotron.text-center .container {
  background: #3591d5;
  margin: 0;
}

#page-welcome-index h2 {
  font-weight: 400;
}

#page-welcome-index .jumbotron .btn {
  margin-top: 10px;
}

#page-welcome-index .jumbotron h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

#page-welcome-index .jumbotron p {
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
}

/* 5. FOOTER
-------------------------------------------------- */

html {
  min-height: 100%;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  background-color: #444;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

footer .container {
  background: #444;
  padding: 20px 0 20px;
}
