/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* BOOTSTRAP IMPORT */

@import "bootstrap-sprockets";
@import "bootstrap";


/* TABLE OF CONTENTS
1. General
  1.1. Body/HTML
  1.2. ckeditor
  1.2. Links
  1.3. Mobile Issues
  1.4. Messages
2. Bootstrap Components
  2.1. Buttons
3. Navigation
4. Views
  4.1 Posts - Edit
  4.2 Posts - Index
  4.3 Posts - New
  4.4 Posts - Show
  4.5 Registrations - New
  4.6 Sessions - New
  4.7 Users - Show
  4.8 Welcome - Index
5. Footer
-------------------------------------*/

/* future class items - not displayed */
.future {
  display: none;
}

/* 1. General
-------------------------------------*/

/* 1.1 Body/HTML */
body, html {
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  background: #f6f6f6;
  border: none;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.container {
  background: #fff;
  min-height:0px !important;
  margin: 0 auto;
  max-width: 960px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

#first {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 2px 0 10px 25px;
}

/* 1.2 ckeditor/simple_form */
#cke_post_body {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
}

.cke_top, .cke_bottom {
  background: #fff !important;
  background-image: none !important;
}

label {
  font-weight: 700;
}

/* 1.3 Links */
a {
  color: #3591d5;
}

a:hover {
  color: #2576b2;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

a:active, a:focus {
  color: #3591d5;
  text-decoration: none;
}

/* 1.4 Mobile Issues */

/* to address pull-right class on mobile devices */
@media (max-width: 1200px) {
  .row .col-md-6 > .pull-right {
    float: none !important;
  }
}

/* 1.5 Messages */
.alert {
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 0;
  text-align: center;
}

.alert-danger, .alert-error, .alert-alert {
  background: #e74c3c;
}

.alert-success, .alert-notice {
  background: #27ae60;
}

.flash {
  margin-bottom: 0;
}

/* 2. Bootstrap Components
-------------------------------------*/

/* 2.1 Buttons */

.btn-success {
  background: #27ae60;
  border: none;
}

.btn-success:hover {
  background: #239e57;
}

.btn-danger {
  background: #e74c3c;
  border: none;
}

.btn-danger:hover {
  background: #d62c1a;
}

.btn-info {
  background: #3591d5;
  border: none;
}

.btn-info:hover {
  background: #2576b2;
}

.form-control, .panel {
  border-radius: 3px;
  box-shadow: none;
}

/* 3. NAVIGATION
-------------------------------------------------- */

.navbar {
  background: #f6f6f6;
  border: none;
  margin-bottom: 0;
}

.navbar .container {
  border-bottom: 1px solid #ddd;
  border-top: 10px solid #2c3e50;
  font-size: 14px;
  padding-bottom: 5px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active {
  color: #3591d5 !important;
  font-size: 28px;
  font-weight: 400;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li a, .navbar-default .navbar-nav > li a:active, .navbar-default .navbar-nav > li a:focus {
  color: #444;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  background: transparent;
  color: #3591d5;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar .dropdown-menu {
  min-width: 300px;
  padding: 20px;
}

.navbar .dropdown-menu a {
  color: #3591d5 !important;
}

.navbar .dropdown-menu a:hover {
  color: #2576b2 !important;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar-nav {
  padding-top: 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
  background: #fff;
  color: #444;
}

.navbar-default .navbar-nav > .open > a:hover {
  background: #fff;
  color: #3591d5;
}

/* 4. VIEWS
-------------------------------------------------- */

/* 4.1 Posts - Edit */


/* 4.2 Posts - Index */
#page-posts-index .col-md-12 h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-decoration: underline;
}

#page-posts-index .panel-default {
  background: #fff;
  border: none;
  font-weight: 400;
  margin-bottom: 0;
}

#page-posts-index .panel-heading {
  background: #fbfbfb;
  border: none;
  font-weight: 400;
}

/* 4.3 Posts - New */
#page-posts-new .col-md-12 h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-decoration: underline;
}

/* 4.4 Posts - Show */
#page-posts-show blockquote {
  font-size: 14px;
  margin-bottom: 5px;
}

#page-posts-show input[type="file"] {
  display: flex;
}

#page-posts-show #page-posts-show-second .btn-success {
  margin-bottom: 10px;
  margin-top: 5px;
}

#page-posts-show #page-posts-show-second {
  margin-top: 10px;
}

#page-posts-show .col-md-12 .comments {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

#page-posts-show .form-group {
  margin-bottom: 5px;
}

#page-posts-show .panel-body {
  padding: 15px;
}

#page-posts-show #page-posts-show-side > .panel {
  border-left: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: 0;
}

#page-posts-show .table td {
  border: none;
  text-align: left;
}

#page-posts-show .table th {
  background: #fff;
  border: none;
  font-weight: 400;
  text-align: right;
  text-decoration: underline;
}

/* 4.5 Registrations - New */
#page-registrations-new .col-md-4 {
  background: #3591d5;
  border-radius: 0;
  color: #fff;margin-left: 0;
  margin: 15px 15px 0 15px;
  padding: 10px 15px;
}

#page-registrations-new .col-md-4 h3 {
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

#page-registrations-new .col-md-4 h4 {
  font-weight: 300;
}

#page-registrations-new .col-md-6 {
  margin-top: 15px;
}

#page-registrations-new .col-md-6 .btn {
  margin-bottom: 10px;
}

@media (min-width: 940px) {
  #page-registrations-new .col-md-6 .form-control {
    width: 75%;
  }
}

/* 4.6 Sessions - New */
#page-sessions-new {
  margin-bottom: 50px;
}

#page-sessions-new .container > .row {
  background: #3591d5;

}
#page-sessions-new a {
   text-align: center;
}

#page-sessions-new h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

#page-sessions-new p {
  text-align: center;
}

#page-sessions-new .panel-default {
  padding-bottom: 30px;
}

/* 4.7 Users - Show */


/* 4.8 Welcome - Index */
#page-welcome-index .alert {
  margin-top: 0;
  margin-left: -25px;
  margin-right: -25px;
}

#page-welcome-index .container > .row > .jumbotron {
  background: #3591d5;
  border-radius: 0;
  color: #fff;
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}

#page-welcome-index h2 {
  font-weight: 300;
}
#page-welcome-index .jumbotron .btn {
  font-weight: 300;
  margin-top: 10px;
}

#page-welcome-index .jumbotron h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-top: 20px;
}

#page-welcome-index .jumbotron p {
  font-size: 20px;
}

#page-welcome-index .navbar .container {
  border-bottom: none;
}

/* 5. FOOTER
-------------------------------------------------- */

html {
  min-height: 100%;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

footer {
  font-size: 13px;
  height: 120px;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer .container {
  background: #2C3E50;
  color: #fff;
  padding: 20px 0 20px;
}
