<div class="container">
  <h3 style="margin-top: 40px">Categories</h3>
  <% @categories.each do |category| %>
    <div class="media">
      <div class="media-body">
        <p><span class="media-heading" style="font-size: 16px"><%= link_to category.name, category %></span><br /><%= category.description %></p>
      </div>
    </div>
  <% end %>
</div>
