<p>Oslaw received a request to create an account with the following email address: <%= @email %>.</p>
<p>If this is correct, you can confirm the account through the link below.</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>The account will not be activated until it is confirmed.</p>
