<p>Oslaw has received a request a link to change the password associated with the following email address: <%= @resource.email %>!</p>
<p>If this is correct, you can change the password through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If this request was incorrect, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
