<footer class="footer">
  <div class="container">
    <p class="future">
      Copyright © 2015 Oslaw. All Rights Reserved.<br />
      Oslaw is an online service that provides legal forms and legal information. Oslaw is not a law firm and is not a substitute for legal advice.<br />
      Use of Oslaw is subject to our&nbsp;<%= link_to "Terms and Conditions", "#" %>. Have a question?&nbsp;<%= link_to "Contact Oslaw", "#" %>.<br />
      <a href="#"><i class="fa fa-twitter"></i></a>  <a href="#"><i class="fa fa-facebook"></i></a>  <a href="#"><i class="fa fa-linkedin"></i></a>  <a href="#"><i class="fa fa-google-plus"></i></a>
    </p>
  </div>
</footer>
