<footer class="footer">
  <p><p>Copyright © 2015 Oslaw. All Rights Reserved.<br />Oslaw is an online service that provides legal forms and legal information.<br />Oslaw is not a law firm and is not a substitute for legal advice.<br />Use of Oslaw is subject to our <%= link_to "Terms and Conditions", "#" %>.</p>
</footer>
