<footer class="footer">
  <p>
    Copyright © 2015 Oslaw. All Rights Reserved.<br />
    Oslaw is an online service that provides legal forms and legal information.<br />
    Oslaw is not a law firm and is not a substitute for legal advice.<br />
    Use of Oslaw is subject to our <%= link_to "Terms and Conditions", "#" %>.<br />
    <span><%= link_to "Contact Oslaw", "#" %> | <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a> <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a> <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></span>
  </p>
</footer>
