<footer class="footer">
  <div class="container">
    <p>
      Copyright © 2015 Oslaw. All Rights Reserved.<br />
      Oslaw is an online service that provides legal forms and legal information. Oslaw is not a law firm and is not a substitute for legal advice.<br />
      Use of Oslaw is subject to our <span class="future"><%= link_to "Terms and Conditions", "#" %></span>. Have a question? <span class="future"><%= link_to "Contact Oslaw", "#" %></span>.<br />
      <span class="future"><a href="#"><i class="fa fa-twitter"></i></a>  <a href="#"><i class="fa fa-facebook"></i></a>  <a href="#"><i class="fa fa-linkedin"></i></a>  <a href="#"><i class="fa fa-google-plus"></i></a></span>
    </p>
  </div>
</footer>
